<div class="order-form-backdrop" id="backdrop">
    <div class="order-modal" id="modal">
        <svg id="order-form-close-btn" class="order-form-close-icon" width="20" height="20">
            <use href="/img/sprite.svg#icon-close-x"></use>
        </svg>

        <form class="order-form">
            <h2 class="order-form-heading">Order now</h2>
            <div class="input-block">
                <label for="name" class="order-form-label">Name</label>
                <input id="name" class="order-form-input" type="text" required pattern="[A-Za-z - ]+" />
            </div>

            <div class="input-block">
                <label for="phone" class="order-form-label">Phone number</label>
                <input id="phone" class="order-form-input" type ="tel" required pattern="[\+]\d{12}" />
            </div>

            <div class="input-block">
                <label for="email" class="order-form-label">Email</label>
                <input id="email" class="order-form-input" type="email" required pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,3}" />
            </div>

            <div class="input-block">
                <label for="comments" class="order-form-label">Comment</label>
                <textarea id="comments" class="order-form-textarea"></textarea>
            </div>

            <button type="submit" class="order-form-send-btn">Send</button>
        </form>
    </div>
</div>