<div class="order-form-backdrop" id="backdrop">
    <div class="order-modal" id="modal">
        <svg id="order-form-close-btn" class="order-form-close-icon" width="20" height="20">
            <use href="/img/sprite.svg#icon-close-x"></use>
        </svg>

        <form class="order-form" type="submit">
            <h2 class="order-form-heading">Order now</h2>
            <div class="input-block">
                <label class="order-form-label">Name</label>
                <input class="order-form-input" type="text" required pattern="[A-Za-zА-Яа-я '-]+" />
            </div>

            <div class="input-block">
                <label class="order-form-label">Phone number</label>
                <input class="order-form-input" type="tel" required pattern="[0-9]{9,13}" />
            </div>

            <div class="input-block">
                <label class="order-form-label">Email</label>
                <input class="order-form-input" type="email" required pattern=".+@.+\.+.+" />
            </div>

            <div class="input-block">
                <label class="order-form-label">Comment</label>
                <textarea class="order-form-textarea" id="comments"></textarea>
            </div>

            <button class="order-form-send-btn">Send</button>
        </form>
    </div>
</div>