<section><form class="form-wrapper">
    <div class="form-group">
      <label for="Search" class="label-form">
        <span>Search</span>
      </label>
      <div class="input-wrapper">
        <input class="input-search" type="text" id="id-input-search" placeholder="Enter Text">
      <svg class="search-icon" width="18" height="18">
        <use href="../img/sprite.svg#icon-search"></use>
      </svg>
    </div>
    </div>

    <div class="form-group-two">

        <div class="wrapper-time-area">
            <label for="Time" class="label-time">
                <span>Time</span>
            </label>

        <div class="time-input-container">
            <input type="text" class="input-time" id="data-input-time" placeholder="40 min">
        </div>

        <label for="Area" class="label-time">
            <span>Area</span>
      </label>

        <div class="time-input-container">
              <input type="text" class="input-time" id="data-input-area" placeholder="Italian">
        </div></div>
           
              <label for="Ingredients" class="label-Ingredients">
                <span>Ingredients</span>
              </label>
  
              <div class="time-input-container">
                <input type="text" class="input-time" id="data-input-Ingredients" placeholder="Tomato">
              </div>
    </div>
  </form>

</section>