<!-------- HEADER FOR MOBILE -------->
<header class="header">
    <div class="block-for-mobile container">
        <nav class="nav">
            <div class="logo-block">
                <a class="logo-first-color" href="./index.html">tasty<span class="logo-second-color">treats.</span></a>
            </div>
            <div class="cart-menu-block">
                <svg id="header-cart-icon" class="header-cart-icon icon" width="24" height="24">
                    <use href="/img/sprite.svg#icon-cart"></use>
                </svg>
                <svg class="header-hamburger-icon icon" id="hamburger" width="32" height="32">
                    <use href="/img/sprite.svg#icon-hamburger"></use>
                </svg>
            </div>
        </nav>
    </div>
    <!-------- END OF HEADER FOR MOBILE -------->