.filter-card-set {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.selector-flex-container {
  display: flex;
  gap: 14px;
  flex-wrap: wrap;
  margin-bottom: 14px;
}

.filter-all-categories {
  margin-bottom: 40px;
}

.filter-all-categories-button {
  width: 176px;
  height: 50px;
  padding: 14px 29px;
  margin-bottom: 24px;
  border-radius: 15px;
  border: 1px solid #05050533;
  background-color: transparent;
  color: rgba(5, 5, 5, 0.5);
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  transition: var(--basic-transition);
}

.category-item.active .category-name,
.category-item.active-category .category-name {
  color: var(--brand-green);
}

.filter-all-categories-button:hover {
  background-color: var(--brand-green);
  color: var(--brand-white);
  border: 1px solid transparent;
}

.filter-all-categories-button:active,
.filter-all-categories-button.active-category {
  background-color: var(--brand-green);
  color: var(--brand-white);
  border: 1px solid transparent;
}

.active-category {
  color: var(--brand-green);
}

.dark-mode .filter-all-categories-button {
  color: #ffffff80;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.dark-mode .filter-all-categories-button:hover {
  color: #f8f8f8;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.filter-categories-block {
  min-width: 320px;
  height: 198px;
  overflow-y: auto;
}

/* SCROLL-BAR CUSTOMIZATION */
.filter-categories-block::-webkit-scrollbar {
  width: 8px;
}

.filter-categories-block::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background: rgba(5, 5, 5, 0.18);
}

.dark-mode .filter-categories-block::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.18);
}

/* END OF SCROLL CUSTOMIZATION */

.category-item {
  margin-bottom: 18px;

}

.category-name {
  color: rgba(5, 5, 5, 0.3);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
}

.dark-mode .category-name {
  color: rgba(255, 255, 255, 0.3);
}

.category-name:hover {
  color: var(--brand-green);
  cursor: pointer;
  transition: color 0.3s ease;
}

/* END OF "ALL CATEGORIES" */

/* --------------------------------------------------------POPULAR RECIP BLOCK --------------------------------------------------------*/

.popular-recipes-block {
  width: 332px;
}

.popular-recipes-heading {
  color: #050505;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.dark-mode .popular-recipes-heading {
  color: rgba(255, 255, 255, 1);
}

.popular-recipes-list .recip-item:nth-child(n + 3) {
  display: none;
}

.recip-item {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
  cursor: pointer;
}

.recip-img {
  width: 64px;
  height: 64px;
  border-radius: 15%;
}

.recip-heading {
  color: #050505;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.dark-mode .recip-heading {
  color: rgba(255, 255, 255, 1);
}

.recip-short-descr {
  overflow: hidden;
  color: rgba(5, 5, 5, 0.8);
  text-overflow: ellipsis;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.33;
}

.dark-mode .recip-short-descr {
  color: rgba(255, 255, 255, 1);
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .main-filter {
    padding-top: 80px;
  }

  .filter-left-side {
    width: 174px;
    box-sizing: border-box;
  }


  .filter-all-categories-button {
    width: 100%;
    margin-bottom: 30px;
  }

  .filter-categories-block {
    min-width: 174px;
    height: 416px;
    overflow: overlay;
  }

  .filter-categories-block::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background: rgba(5, 5, 5, 0.18);
  }

  .popular-recipes-heading {
    width: 166px;
  }

  .category-item {
    margin-bottom: 24px;
  }

  .category-name {
    font-size: 16px;
    line-height: 1.25;
  }

  .popular-recipes-block {
    width: 166px;
  }

  .popular-recipes-list .recip-item:nth-child(n + 3) {
    display: flex;
  }

  .recip-item {
    width: 100%;
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
    cursor: pointer;
  }

  .recip-img {
    width: 48px;
    height: 48px;
    border-radius: 15%;
  }

  .recip-short-descr {
    font-size: 10px;
  }
}

@media screen and (min-width: 1280px) {

  .all-categories-button {
    width: 174px;
  }

  .filter-categories-block {
    min-width: 235px;
    height: 416px;
    overflow: overlay;
  }

  .popular-recipes-heading {
    width: 221px;
    font-size: 24px;
    line-height: 1.16;
    text-transform: uppercase;
    margin-bottom: 32px;
  }

  .recip-item {
    width: 235px;
    margin-bottom: 32px;
  }

  .recip-short-descr {
    font-size: 10px;
    font-weight: 400;
    line-height: 1.4;
  }
}

.label-input {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  color: rgba(5, 5, 5, 0.5);
}

.dark-mode .label-input {
  color: rgba(255, 255, 255, 0.5);
}

.input-wrapper {
  position: relative;
  width: 335px;
  border-radius: 15px;
}

.search-icon {
  position: absolute;
  left: 18px;
  bottom: 14px;
  fill: rgba(5, 5, 5, 0.5);
  pointer-events: none;
}

.dark-mode .search-icon {
  color: rgba(255, 255, 255, 0.5);
}

.input-search {
  box-sizing: border-box;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.3;
  color: rgba(5, 5, 5, 0.50);

  padding: 0;
  margin-top: 10px;
  width: 100%;
  height: 46px;
  padding-left: 48px;
  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);
  outline: none;
}

.dark-mode .input-search {
  color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: var(--dark-mode-bg);
}

.label-selector {
  display: block;
  color: rgba(5, 5, 5, 0.5);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 10px;
  margin-top: 15px;
}

.dark-mode .label-selector {
  color: rgba(255, 255, 255, 0.5);
}

.selector {
  display: inline-block;
}

.selector-area {
  display: inline-block;
}

.time-selector,
.area-selector {
  width: 160px;
  height: 46px;
  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);

  color: rgba(5, 5, 5, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  padding-left: 18px;
  outline: none;
}

.dark-mode .time-selector {
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.5);
  background-color: var(--dark-mode-bg);
}

.dark-mode .area-selector {
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.5);
  background-color: var(--dark-mode-bg);
}

.Ingredients-selector {
  width: 190px;
  height: 46px;
  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);

  color: rgba(5, 5, 5, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  padding-left: 18px;
  outline: none;
}

.dark-mode .Ingredients-selector {
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.5);
  background-color: var(--dark-mode-bg);
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .main-filter {
    padding-top: 80px;
  }

  .filter-all-categories {
    width: 174px;
    box-sizing: border-box;
    margin-top: 24px;
    margin-bottom: 64px;
  }

  .filter-all-categories-button {
    width: 100%;
    margin-bottom: 30px;
  }

  .filter-categories-block {
    min-width: 176px;
    height: 416px;
    overflow: overlay;
  }

  .filter-categories-block::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background: rgba(5, 5, 5, 0.18);
  }

  .popular-recipes-heading {
    width: 166px;
  }

  .category-item {
    margin-bottom: 24px;
  }

  .category-name {
    font-size: 16px;
    line-height: 1.25;
  }

  .popular-recipes-list .recip-item:nth-child(n + 3) {
    display: flex;
  }

  .recip-item {
    width: 100%;
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
    cursor: pointer;
  }


  .recip-short-descr {
    font-size: 10px;
  }
}

/* reset styles */
.reset-filter {
  margin-left: auto;
  display: flex;
  justify-content: end;
  gap: 4px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: rgba(5, 5, 5, 0.5);
  margin-bottom: 20px;
  background-color: transparent;
  border: none;
  /* display: none; */

}

.dark-mode .reset-filter {
  color: rgba(255, 255, 255, 0.50);
}

.link-reset-svg {
  fill: var(--brand-green);
}

/* illia tablet styles */
@media screen and (min-width: 768px) {
  .flex-container {
    flex-wrap: nowrap;
  }

  .right-side {
    width: 100%;
    margin-left: 32px;
  }

  .selector-flex-container {
    gap: 16px;
  }

  .input-wrapper {
    width: 278px;
  }

  .time-selector {
    width: 125px;
  }

  .area-selector {
    width: 141px;
  }

  .Ingredients-selector {
    width: 188px;
  }

  .label-selector {
    margin-top: 0;
  }

  .filter-card-set {
    gap: 16px;
  }

  .reset-filter {
    margin-bottom: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .right-side {
    width: 782px;
    margin-left: 63px;
  }

  .filter-categories-block {
    min-width: 235px;
  }

  .filter-left-side {
    width: 235px;
  }

  .popular-recipes-block {
    width: 235px;
  }

  .recip-img {
    width: 64px;
    height: 64px;
    border-radius: 15%;
  }
}