/* ALL CATEGORIES */

.main-filter {
    padding-top: 80px;
}

.filter-all-categories {
    margin-bottom: 40px;
}

.filter-all-categories-button {
    width: 176px;
    height: 50px;
    padding: 14px 29px;
    margin-bottom: 24px;
    border-radius: 15px;
    border: 1px solid #05050533;
    background-color: transparent;
    color: rgba(5, 5, 5, 0.50);
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    transition: var(--basic-transition)
}

.filter-all-categories-button:hover {
    background-color: var(--brand-green);
    color: var(--brand-white);
    border: 1px solid transparent;
}

.dark-mode .filter-all-categories-button {
    color: #FFFFFF80;
    border: 1px solid rgba(255, 255, 255, 0.20);
}

.dark-mode .filter-all-categories-button:hover {
    color: #F8F8F8;
    border: 1px solid rgba(255, 255, 255, 0.20);
}

.filter-categories-block {
    min-width: 320px;
    height: 198px;
    overflow-y: auto;
}

/* SCROLL-BAR CUSTOMIZATION */
.filter-categories-block::-webkit-scrollbar {
    width: 8px;
}

.filter-categories-block::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background: rgba(5, 5, 5, 0.18);
}

.dark-mode .filter-categories-block::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.18);
}

/* END OF SCROLL CUSTOMIZATION */

.category-item {
    margin-bottom: 18px;
}

.category-name {
    color: rgba(5, 5, 5, 0.30);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
}

.dark-mode .category-name {
    color: rgba(255, 255, 255, 0.30);
}

.category-name:hover {
    color: var(--brand-green);
    cursor: pointer;
}
