/* .container {} */

/* .header {
    padding-bottom: 90px;
} */

.tablet-desktop {
    display: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-top: 28px; */
}

/* .logo-block {} */

.logo-block {
    margin-top: 28px;
}

.logo-first-color {
    color: var(--brand-green);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: -0.64px;

}

.logo-second-color {
    color: var(--brand-black);
}

.dark-mode .logo-second-color {
    color: var(--brand-white);
}

.active-page {
    color: var(--brand-green);
}

.dark-mode .active-page {
    color: var(--brand-green);

}

.cart-menu-block {
    display: flex;
    align-items: center;
    padding-top: 20.5px;
}

.dark-mode .header-cart-icon,
.dark-mode .header-hamburger-icon {
    fill: var(--brand-white);
}

.header-cart-icon:hover,
.header-hamburger-icon:hover {
    fill: var(--brand-green);
    transition: all 300ms ease;
}

.dark-mode .header-cart-icon:hover,
.dark-mode .header-hamburger-icon:hover,
.dark-mode .close-menu-icon:hover {
    fill: var(--brand-green);

}


.header-hamburger-icon {
    margin-left: 15px;
}


/* .mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    overflow-y: hidden;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 100%;
    background-color: var(--brand-green);
    transition: opacity 300ms, ;
    z-index: 11;
} */


/* ------------------------- */
.mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-y: hidden;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 100%;
    background-color: var(--brand-green);
    z-index: 11;
    transform: translateX(100%);
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;
}

.visible {
    opacity: 1;
}

/* --------------------------- */

.dark-mode .mobile-menu {
    background-color: var(--dark-mode-bg);
}

.close-menu-icon {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 20px;
    right: 20px;
    fill: var(--brand-white);
}


.mobile-menu-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
}

.mobile-menu-nav {
    transition: all 300ms ease;
}


.mobile-menu-nav-links {
    margin-bottom: 16px;
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mobile-menu-nav-links:last-child {
    margin-bottom: 0px;
}


.mobile-menu-nav-links.active-link {
    font-size: 500;
}

.mobile-menu-nav-links:hover {
    color: var(--dark-mode-bg);
}

.dark-mode .mobile-menu-nav-links:hover {
    color: var(--brand-green);
}

.mobile-menu-nav-links.dark-mode-hover:hover {
    color: var(--brand-green);
}

.mobile-menu-switcher {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.no-scroll {
    overflow: hidden;
    height: 100vh;
}


@media screen and (min-width: 768px) {


    .block-for-mobile,
    .mobile-menu {
        display: none;
    }

    .tablet-desktop {
        display: block;
    }

    .tablet-desktop-nav {
        /* padding-top: 28px; */
        display: flex;
        justify-content: space-between;
        /* align-items: center; */
    }

    .navigations {
        margin-top: 31px;
    }

    .tablet-menu-nav-links {
        font-size: 12px;
        font-weight: 500;
        line-height: normal;
    }

    .tablet-menu-nav-links:not(:last-child) {
        margin-right: 16px;
    }

    .tablet-menu-nav-links:hover {
        color: var(--brand-green);
        transition: all 300ms ease;
    }

    .tablet-desktop-nav-icons {
        display: flex;
        align-items: center;
        margin-top: 20px;
    }

    .switcher {
        margin-left: 16px;
        margin-right: -22px;
        flex-shrink: 0;
    }



    .logo-first-color {
        font-size: 18px;
        line-height: 20px;
        letter-spacing: -0.72px;
    }

    .logo-second-color {
        font-size: 18px;
        line-height: 20px;
        letter-spacing: -0.72px;
    }


}

@media screen and (min-width: 1280px) {

    .header {
        padding-bottom: 34px;
    }

    .navigations {
        margin-top: 43px;
    }

    .logo-block {
        margin-top: 40px;
    }

    .tablet-desktop-nav-icons {
        margin-top: 32px;
    }
}